*{
    margin: 0;
    padding: 0;
}

.raleway-normal {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
/* shared  */
.cmn-btn{
    color: white;
    background-color: blue;
    border: none;
    font-weight: bold;
    font-size: 16px;
    transition:all 0.3s ease;
    cursor: pointer;
    border-radius: 15px;
    padding: 12px 36px;
}
.cmn-btn:hover{
    background-color: yellow;
}
.cmn-btn:hover a{
    color:black;
}
.cmn-btn a{
    text-decoration: none;
    color: white;
}
body{
    background-color:#F2EDED;
}
/* header section */
.header{
    background-image: url(Assets/Hero-bg.png);
    width: 1440px;
    height: 698px;
}
/* nav section */
nav{
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    padding: 30px;
}    

.nav-tittle{
    font-size: large;
    font-weight:bolder;
    font-size: 34px;
    color: blue;
}

.nav-btn{
    background-color: blue;
    padding: 12px 36px;
    font-weight: bold;
    border-radius: 10px;
}
/* banner section */

.banner-content{
    padding: 158px 267px 152px 267px;
    font-weight: bold;
    font-size: 65px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.btn-banner{
    padding: 12px 36px;
    font-weight: bold;
    border-radius: 10px;
}
/* action section */
.action{
        display: flex;
        background-color: #f5f8ff;
        padding: 40px;
        /* border-radius: 12px; */
        align-items: center;
        width: 1140px;
        margin: 0 160px 116px 141px;
        gap: 40px;
        justify-content: space-between; 
}
.action-left{
    margin-right: 220px;
}

.action-left h3{
    font-weight: bold;
    font-size: 42px;
    margin-bottom: 24px;
}
.action p{
    font-size: 24px;
    margin-bottom: 30px;
    color: #252432;
    font-weight:lighter;
}
.action-btn{
    display: inline-block;
    padding: 12px 36px;
    font-weight: bold;
    border-radius: 10px;
}
.actionimg{
    display: flex;
    justify-content: flex-end;
    
}
.actionimg img{
    width: 403px;
    height: 328px;
    border-radius: 20px;
    display: block;
    object-fit: cover;
}
/* produtive section */
.user-section{
    /* display: flex;
    flex-wrap: wrap; */
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #4d47ff3d;
    margin: 116px 159px 137px 141px;
    width: 945px;
    height: 306px;
    padding: 50px 142px;
    border-radius: 25px;
}
.user-tittle{
    font-size: 38px;
    font-weight: bold;
}
.user-stats{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 40px;
    margin-top: 90px;
}
.stat-tittle{
    color: blue;
    font-weight: bolder;
    font-size: 80px;
}
/* review section */
.review{
    width: 1140px;
    height: 340px;
    margin-bottom: 60%;
    background-color: #F2EDED;
    align-items: center;
    justify-content: center;
    margin: 137px 149px 137px 151px;
    padding-bottom: 10px;
}
.review-tittle{
    font-weight: bold;
    font-size: 42px;
    text-align: center;
    margin-bottom: 50px;
}
.review-grid{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 25px;
}
.review-card{
    border-radius: 15px;
    padding: 20px;
    width: 300px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: white;
}
.stars{
    margin-bottom: 15px;
}
.star{
    color: yellow;
    font-size: 20px;
}
.card-tittle{
    font-size: 20px;
    margin-top: 0;
    margin-bottom: 10px;
}
.card-quote{
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 20px;
}
.reviewer-info{
    display: flex;
    align-items: center;
    margin-top: 0 auto;

}
.reviewer-avatar{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 15px;
    object-fit: cover;
}
.reviewer-details {
    display: flex;
    flex-direction: column;
}
.reviewer-name{
    font-weight: bold;
}
/* focus section */
.focus{
    width: 1140px;
    height: 697px;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 0 149px 108px 151px;
    background-color: white;
    padding-top: 75px;
}
.focus-tittle{
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 25px;
}
.focus-subtittle{
    font-weight: lighter;
    margin-bottom: 25px;
}
.focus-btn{
    margin-bottom: 25px;
}
.focus-img img{
    border-radius: 15px;
    width: 840px;
    height: 365px;
    justify-content: center;
    margin-top: 25px;
}
/* touch section */
.touch  {
    display: flex;
    justify-content: center;
    align-items: center;
}
.touch-tittle{
    text-align: left;
    min-width: 300px;
    font-weight: bold;
    margin: 0;
    font-size: 50px;
    padding-right: 120px;
}
.contact-form{
    display: flex;
    flex-direction: column;
}
.form-sec{
    margin-bottom: 20px;
}
label{
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}
input[type="text"], input[type="email"], textarea{
    width: 100%;
    padding: 12px 15px;
    border: 1px solid white;
    border-radius: 8px;
    font-size: 25px;
    box-sizing: border-box;


}