*{
    margin: 0;
    padding: 0;
}

.raleway-normal {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
/* shared  */
.cmn-btn{
    color: white;
    background-color: blue;
    border: none;
    font-weight: bold;
    font-size: 16px;
    transition:all 0.3s ease;
    cursor: pointer;
}
.cmn-btn:hover{
    background-color: yellow;
}
.cmn-btn:hover a{
    color:black;
}
.cmn-btn a{
    text-decoration: none;
    color: white;
}
/* header section */
.header{
    background-image: url(Assets/Hero-bg.png);
    width: 1440px;
    height: 698px;
}
/* nav section */
nav{
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    padding: 30px;
}    

.nav-tittle{
    font-size: large;
    font-weight:bolder;
    font-size: 34px;
    color: blue;
}

.nav-btn{
    background-color: blue;
    padding: 12px 36px;
    font-weight: bold;
    border-radius: 10px;
}
/* banner section */

.banner-content{
    padding: 158px 267px 152px 267px;
    font-weight: bold;
    font-size: 65px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.btn-banner{
    padding: 12px 36px;
    font-weight: bold;
    border-radius: 10px;
}
/* action section */
.action{
        display: flex;
        background-color: #f5f8ff;
        padding: 40px;
        /* border-radius: 12px; */
        align-items: center;
        width: 1140px;
        margin: 0 160px 116px 141px;
        gap: 40px;
        justify-content: space-between; 
}
.action-left{
    margin-right: 220px;
}

.action-left h3{
    font-weight: bold;
    font-size: 42px;
    margin-bottom: 24px;
}
.action p{
    font-size: 24px;
    margin-bottom: 30px;
    color: #252432;
    font-weight:lighter;
}
.action-btn{
    display: inline-block;
    padding: 12px 36px;
    font-weight: bold;
    border-radius: 10px;
}
.actionimg{
    display: flex;
    justify-content: flex-end;
    
}
.actionimg img{
    width: 403px;
    height: 328px;
    border-radius: 20px;
    display: block;
    object-fit: cover;
}
/* produtive section */
.user-section{
    /* display: flex;
    flex-wrap: wrap; */
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #4d47ff3d;
    margin: 116px 159px 137px 141px;
    width: 945px;
    height: 306px;
    padding: 50px 142px;
    border-radius: 25px;
}
.user-tittle{
    font-size: 38px;
    font-weight: bold;
}
.user-stats{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 40px;
    margin-top: 90px;
}
.stat-tittle{
    color: blue;
    font-weight: bolder;
    font-size: 80px;
}